# ODS to 12Twenty - Python Version

## Overview
This program uses python, the HTTP requests library, "requests", and the data analysis/manipulation library, "pandas".  It is currently in the form of a Jupyter Notebook.  The notebook approach is very handy in development since you can run "cells" one at a time and check the data as you go.  In production, this code would run as a simple python script.  Currently, it uses a static version of the ODS data, imported to our DEV SQL Server via SSIS.  However, there is no reason that the python script couldn't just query ODS directly, eliminating the need for SSIS.

In [299]:
#install and import required libraries
!pip3 install requests
!pip3 install pyodbc
import json, requests, pandas as pd, pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\users\siu850258213\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\siu850258213\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\siu850258213\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\siu850258213\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\siu850258213\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests) (2024.8.30)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\users\siu850258213\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (5.1.0)

In [300]:
#authenticate with 12Twenty
base_url = 'https://siu.admin.12twenty.com/api'
auth_key = open('api_key.txt', 'r').read()
auth_url = base_url + '/client/generateAuthenticationToken?key=' + auth_key

bearer_token = requests.get(auth_url).text
#set authorization header for future requests
auth_header = {'Authorization': 'Bearer ' + bearer_token}

In [313]:
#pull first page of json students from 12Twenty
students_url = base_url + '/V2/students'
students_params = {'PageSize' : '500'}
twelve_twenty_students_json = requests.get(students_url, headers=auth_header, params=students_params)
#print(json.dumps(twelve_twenty_students_json.json(), indent=2))

In [ ]:
#convert json to a pandas dataframe
twelve_twenty_students_json = json.loads(twelve_twenty_students_json.text)
twelve_twenty_students_page = pd.json_normalize(twelve_twenty_students_json['Items'])
twelve_twenty_students_page.head()

In [303]:
#create array to store paginated 12Twenty data
twelve_twenty_students = []
twelve_twenty_students.append(twelve_twenty_students_page)
#iterate through all pages of 12Twenty students and assemble array of dataframes
num_pages = twelve_twenty_students_json['NumberOfPages']
for page in range(2, num_pages + 1):
    students_params = {'PageSize' : '500', 'PageNumber': page}
    twelve_twenty_students_json = json.loads(requests.get(students_url, headers=auth_header, params=students_params).text)
    twelve_twenty_students_page = pd.json_normalize(twelve_twenty_students_json['Items'])
    twelve_twenty_students.append(twelve_twenty_students_page)

In [ ]:
#convert array of data frames into one master data frame
twelve_twenty_students = pd.concat(twelve_twenty_students)

print(twelve_twenty_students.count())

In [ ]:
#remove unnecessary columns and rename remaining ones to match ODS columns

#print(twelve_twenty_students.columns.tolist())
columnMapping = {'Id':'12TwentyId',
                 'FirstName':'FirstName',
                 'MiddleName':'MiddleName',
                 'LastName' : 'LastName',
                 'EmailAddress' : 'EmailAddress',
                 'IsEnrolled': 'IsEnrolled',
                 'StudentId': 'StudentId',
                 'College.Name': 'College',
                 'Program.Name': 'Program',
                 'GraduationYearId' : 'GraduationYear',
                 'GraduationTerm' : 'GraduationTerm',
                 'DegreeLevel.Name' : 'DegreeLevel',
                 'CustomAttributeValues.custom_attribute_10888805132042': 'AppliedForGraduation'
}

for column in twelve_twenty_students.columns:
    if column not in columnMapping.keys():
        twelve_twenty_students.drop(column, axis=1, inplace=True)

twelve_twenty_students.rename(columns = columnMapping, inplace='True')

#set primary key
twelve_twenty_students.set_index('StudentId')

twelve_twenty_students.head()

In [306]:
#set up connection to SQL db
sql_connection = pyodbc.connect("Driver={SQL Server};"
                      "Server=itapp-ssis-dev;"
                      "Database=MableySandbox;"
                      "Trusted_Connection=yes;")

In [ ]:
#query ODS
ods_query = "SELECT * FROM TwelveTwentyStudents;"
ods_students = pd.read_sql(ods_query,sql_connection)
#add action and reporting columns
ods_students.insert(0, 'ActionNeeded', 'None')
ods_students.insert(len(ods_students.columns), 'Result', '')
ods_students.insert(len(ods_students.columns), 'Message', '')
#strip year from graduation term
ods_students['GraduationTerm'] = ods_students['GraduationTerm'].str.replace('[^a-zA-Z]*', '', regex=True)
#set primary key
ods_students.set_index('StudentId')

In [ ]:
#if ODS student ID is not found in 12Twenty list, mark it for Insert
ods_students.loc[~ods_students['StudentId'].isin(twelve_twenty_students['StudentId']), 'ActionNeeded'] = 'Insert'
ods_students.loc[ods_students['ActionNeeded'] == 'Insert']

In [309]:
#left join ODS and 12Twenty dataframes with suffixes for data origin on column names
merged_students = pd.merge(ods_students, twelve_twenty_students, on ='StudentId', how='left', suffixes=['_ODS', '_12Twenty'])
merged_students.head()

,ActionNeeded,EmailAddress_ODS,FirstName_ODS,MiddleName_ODS,LastName_ODS,StudentId,GraduationYear_ODS,GraduationTerm_ODS,ExpectedGraduationDate,IsEnrolled_ODS,...,EmailAddress_12Twenty,GraduationYear_12Twenty,GraduationTerm_12Twenty,12TwentyId,IsEnrolled_12Twenty,College_12Twenty,Program_12Twenty,DegreeLevel_12Twenty,AppliedForGraduation,MiddleName_12Twenty
0,None,danielle.cox@siu.edu,Danielle,Nichole,Cox,SIU850000649,2025,Spring,2025-05-09,Yes,...,danielle.cox@siu.edu,2025.0,Spring,5.400161e+14,True,SIU,SIU,Senior,True,Nichole
1,None,james.w.black@siu.edu,James,W,Black,SIU850001358,2025,Spring,2025-05-09,Yes,...,james.w.black@siu.edu,2025.0,Spring,5.400161e+14,True,SIU,SIU,Senior,False,W
2,None,thomas.distelhurst@siu.edu,Thomas,None,Distelhurst,SIU850001815,2024,Spring,2024-05-10,Yes,...,thomas.distelhurst@siu.edu,2024.0,Spring,5.400161e+14,True,College of Arts and Media,SIU,Alumni,False,NaN
3,None,mnowak@siu.edu,Matthew,G,Nowak,SIU850001876,2024,Summer,2024-08-02,Yes,...,mnowak@siu.edu,2024.0,Summer,5.400161e+14,True,College of Liberal Arts,SIU,Alumni,False,G
4,None,vickie.walls@siu.edu,Vickie,Anna,McKinney,SIU850002168,2025,Spring,2025-05-09,Yes,...,vickie.walls@siu.edu,2025.0,Spring,5.400161e+14,True,SIU,SIU,Alumni,False,Anna

In [310]:
#mark existing 12Twenty students for update where data differs from ODS to 12Twenty
merged_students.loc[(merged_students['ActionNeeded'] != 'Insert') &
                    (
                    (merged_students['EmailAddress_ODS'] != merged_students['EmailAddress_12Twenty']) |
                    (merged_students['FirstName_ODS']!= merged_students['FirstName_12Twenty']) |
                    (merged_students['LastName_ODS']!= merged_students['LastName_12Twenty']) |
                    (merged_students['DegreeLevel_ODS']!= merged_students['DegreeLevel_12Twenty']) |
                    (merged_students['GraduationYear_ODS']!= merged_students['GraduationYear_12Twenty']) |
                    (merged_students['GraduationTerm_ODS']!= merged_students['GraduationTerm_12Twenty']) |
                    (merged_students['AppliedForGrad'] != merged_students['AppliedForGraduation']) 
                    ), 'ActionNeeded'] = 'Update'
merged_students.loc[merged_students['ActionNeeded'] == 'Update'].head()

,ActionNeeded,EmailAddress_ODS,FirstName_ODS,MiddleName_ODS,LastName_ODS,StudentId,GraduationYear_ODS,GraduationTerm_ODS,ExpectedGraduationDate,IsEnrolled_ODS,...,EmailAddress_12Twenty,GraduationYear_12Twenty,GraduationTerm_12Twenty,12TwentyId,IsEnrolled_12Twenty,College_12Twenty,Program_12Twenty,DegreeLevel_12Twenty,AppliedForGraduation,MiddleName_12Twenty
566,Update,clinton.huse@hotmail.com,Clinton,Dwayne,Huse,SIU850444237,2010,Spring,2010-05-14,Yes,...,clinton.huse@hotmail.com,2028.0,Summer,5.400161e+14,True,SIU,SIU,Senior,False,Dwayne
867,Update,ivan.vargas@siu.edu,Ivanovich,None,Vargas,SIU850901961,2026,Spring,2026-05-08,Yes,...,ivan.vargas@siu.edu,2026.0,Spring,5.400161e+14,True,College of Health and Human Sciences,SIU,Senior,False,NaN
2642,Update,jazzmine.crane@siu.edu,Johnathan,None,Crane,SIU854221480,2025,Spring,2025-05-09,Yes,...,jazzmine.crane@siu.edu,2025.0,Spring,5.400161e+14,True,SIU,SIU,Senior,False,NaN
2797,Update,nicole.lach@siu.edu,Nicole,A,Lach,SIU854339107,2024,None,2024-12-14,Yes,...,nicole.lach@siu.edu,2024.0,Spring,5.400161e+14,True,SIU,SIU,Senior,True,A
2863,Update,holton.zoss@siu.edu,Holton,A,Zoss,SIU854365285,2024,None,2024-12-14,Yes,...,holton.zoss@siu.edu,2024.0,Spring,5.400161e+14,True,SIU,SIU,Senior,True,A

In [311]:
#display final counts and data table
print(f"Students to Insert: {merged_students.loc[merged_students['ActionNeeded'] == 'Insert']['StudentId'].count()}") 
print(f"Students to Update: {merged_students.loc[merged_students['ActionNeeded'] == 'Update']['StudentId'].count()}") 
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    display(merged_students.loc[merged_students['ActionNeeded'] != 'None'].sort_values(by=['ActionNeeded', 'LastName_ODS', 'FirstName_ODS'], ascending=[False, True, True]))

Students to Insert: 393
Students to Update: 14

,ActionNeeded,EmailAddress_ODS,FirstName_ODS,MiddleName_ODS,LastName_ODS,StudentId,GraduationYear_ODS,GraduationTerm_ODS,ExpectedGraduationDate,IsEnrolled_ODS,Program_ODS,DegreeLevel_ODS,College_ODS,AppliedForGrad,SystemLabelNames,Result,Message,FirstName_12Twenty,LastName_12Twenty,EmailAddress_12Twenty,GraduationYear_12Twenty,GraduationTerm_12Twenty,12TwentyId,IsEnrolled_12Twenty,College_12Twenty,Program_12Twenty,DegreeLevel_12Twenty,AppliedForGraduation,MiddleName_12Twenty
3468,Update,nathaniel.conroy@siu.edu,Nathaniel,M,Conroy,SIU854760834,2024,None,2024-12-14,Yes,SIU,Senior,SIU,True,None,,,Nathaniel,Conroy,nathaniel.conroy@siu.edu,2024.0,Spring,5.400161e+14,True,SIU,SIU,Senior,True,M
2642,Update,jazzmine.crane@siu.edu,Johnathan,None,Crane,SIU854221480,2025,Spring,2025-05-09,Yes,SIU,Senior,SIU,False,None,,,Johnathan,Crane,jazzmine.crane@siu.edu,2025.0,Spring,5.400161e+14,True,SIU,SIU,Senior,False,NaN
13222,Update,kennedy.furano@siu.edu,Kennedy,None,Furano,SIU856570672,2028,Spring,2028-05-05,Yes,SIU,Sophomore,SIU,False,None,,,Kennedy,Furano,kennedy.furano@siu.edu,2028.0,Spring,5.400161e+14,True,SIU,SIU,Sophomore,False,NaN
2910,Update,smnazmul.haque@siu.edu,Nazmul,None,Haque,SIU854410428,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,Nazmul,Haque,smnazmul.haque@siu.edu,2024.0,Spring,5.400161e+14,True,College of Health and Human Sciences,SIU,Alumni,False,NaN
566,Update,clinton.huse@hotmail.com,Clinton,Dwayne,Huse,SIU850444237,2010,Spring,2010-05-14,Yes,SIU,Alumni,SIU,False,None,,,Clinton,Huse,clinton.huse@hotmail.com,2028.0,Summer,5.400161e+14,True,SIU,SIU,Senior,False,Dwayne
2797,Update,nicole.lach@siu.edu,Nicole,A,Lach,SIU854339107,2024,None,2024-12-14,Yes,SIU,Senior,SIU,True,None,,,Nicole,Lach,nicole.lach@siu.edu,2024.0,Spring,5.400161e+14,True,SIU,SIU,Senior,True,A
4700,Update,keirstan.keirsey@siu.edu,Keirstan,Marie,Massey,SIU856050949,2024,None,2024-12-14,Yes,SIU,Senior,SIU,True,None,,,Keirstan,Massey,keirstan.keirsey@siu.edu,2024.0,Spring,5.400161e+14,True,SIU,SIU,Senior,True,Marie
7390,Update,yanni.motter@siu.edu,Yanni,Chad,Motter,SIU856503619,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,Yanni,Motter,yanni.motter@siu.edu,2023.0,Summer,5.400161e+14,True,College of Health and Human Sciences,SIU,Alumni,False,Chad
6156,Update,deborah.olusoga@siu.edu,Debi,O,Olusoga,SIU856472111,2026,Spring,2026-05-08,Yes,SIU,Senior,SIU,False,None,,,Debi,Olusoga,deborah.olusoga@siu.edu,2026.0,Spring,5.400161e+14,True,SIU,SIU,Senior,False,O
4223,Update,samuel.sandoval@siu.edu,Samuel,None,Sandoval,SIU855799100,2027,Spring,2027-05-07,Yes,SIU,Graduate Masters,SIU,False,None,,,Samuel,Sandoval,samuel.sandoval1@siu.edu,2027.0,Spring,5.400161e+14,True,SIU,SIU,Graduate Masters,False,NaN
12939,Update,bridgette.schenk@siu.edu,Bridgette,None,Schenk,SIU856568545,2029,Spring,2029-05-11,Yes,SIU,Freshman,SIU,False,None,,,Bridgette,Schenk,bridgette.schenk@siu.edu,2029.0,Spring,5.400161e+14,True,SIU,SIU,Freshman,False,NaN
8384,Update,hannah.taylor@siu.edu,Rhi,E,Taylor,SIU856517852,2027,Spring,2027-05-07,Yes,SIU,Junior,SIU,False,None,,,Rhi,Taylor,hannah.taylor@siu.edu,2027.0,Spring,5.400161e+14,True,SIU,SIU,Junior,False,E
867,Update,ivan.vargas@siu.edu,Ivanovich,None,Vargas,SIU850901961,2026,Spring,2026-05-08,Yes,SIU,Senior,SIU,False,None,,,Ivanovich,Vargas,ivan.vargas@siu.edu,2026.0,Spring,5.400161e+14,True,College of Health and Human Sciences,SIU,Senior,False,NaN
2863,Update,holton.zoss@siu.edu,Holton,A,Zoss,SIU854365285,2024,None,2024-12-14,Yes,SIU,Senior,SIU,True,None,,,Holton,Zoss,holton.zoss@siu.edu,2024.0,Spring,5.400161e+14,True,SIU,SIU,Senior,True,A
2196,Insert,zain.abdi@siu.edu,Zain,None,Abdi,SIU853964601,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7517,Insert,kayla.abel@siu.edu,Kayla,None,Abel,SIU856505821,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7800,Insert,jacob.c.adams@siu.edu,Jacob,Chad Carlton,Adams,SIU856511347,2025,Spring,2025-05-09,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8586,Insert,maris.adams@siu.edu,Maris,Catherine,Adams,SIU856519683,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6456,Insert,eustace.adiemeli@siu.edu,Eustace,Esomchi,Adiemeli,SIU856492574,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2337,Insert,taylor.adkins@siu.edu,Taylor,C,Adkins,SIU854029972,2027,Spring,2027-05-07,Yes,SIU,Graduate Masters,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6611,Insert,oluwatoyin.ajogbeje@siu.edu,Oluwatoyin,Ruth,Ajogbeje,SIU856495408,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1161,Insert,brittany.love@siu.edu,Brittany,Kay,Aldridge,SIU851438150,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2193,Insert,micqwan.alford@siu.edu,Micqwan,TreMaine,Alford,SIU853947322,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8588,Insert,khaled.aljohani@siu.edu,Khaled,Mohammed A,Aljohani,SIU856519698,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011,Insert,ben.allen@siu.edu,Ben,D,Allen,SIU853734071,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6908,Insert,fahad.almalki@siu.edu,Fahad,Atiah O,Almalki,SIU856499136,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1298,Insert,atalowais@siu.edu,Alowais,Turki,Alowais,SIU851908855,2025,Spring,2025-05-09,Yes,SIU,Graduate Masters,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1054,Insert,rema.shiddi@siu.edu,Reem,Saad,Alshiddi,SIU851211481,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2151,Insert,james.ambs@siu.edu,James,None,Ambs,SIU853932173,2026,Spring,2026-05-08,Yes,SIU,Graduate Masters,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6309,Insert,noorbakhsh.amirigolilarz@siu.edu,Noorbakhsh,None,Amiri Golilarz,SIU856489739,2026,Spring,2026-05-08,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2948,Insert,indigo.andreasengordon@siu.edu,Indigo,None,Andreasen Gordon,SIU854438642,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1937,Insert,herman.arce@siu.edu,Herman,None,Arce,SIU853666631,2025,Spring,2025-05-09,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6121,Insert,bryce.atchison@siu.edu,Bryce,W,Atchison,SIU856467731,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1480,Insert,genesis.thomas@siu.edu,Genesis,Camille Tyler,Atencio,SIU852752817,2029,Spring,2029-05-11,Yes,SIU,Graduate Doctorate,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3564,Insert,tiffanie.atherton@siu.edu,Tiffanie,Brook,Atherton,SIU855575672,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3799,Insert,meera.athiappan@siu.edu,Meera,Lakshmi,Athiappan,SIU855621068,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8413,Insert,amber.bagby@siu.edu,Amber,None,Bagby,SIU856518187,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2685,Insert,addison.baker1@siu.edu,Addison,None,Baker,SIU854277794,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4557,Insert,makaila.ballah@siu.edu,Makaila,None,Ballah,SIU856011043,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8004,Insert,mikiah.baluyot@siu.edu,Mikiah,None,Baluyot,SIU856513860,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2263,Insert,dalton.banach@siu.edu,Dalton,J,Banach,SIU854001153,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1938,Insert,james.barker@siu.edu,James,E,Barker,SIU853666701,2025,Spring,2025-05-09,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1499,Insert,coleman.barnes@siu.edu,Coleman,G,Barnes,SIU852821553,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8541,Insert,blake.barnett@siu.edu,Blake,Hartwell,Barnett,SIU856519272,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1810,Insert,emily.bartholomay@siu.edu,Emily,Marie,Bartholomay,SIU853542531,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2451,Insert,rachel.bartleman@siu.edu,Rachel,E,Bartleman,SIU854064528,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2687,Insert,caitlyn.bartsch@siu.edu,Caitlyn,J,Bartsch,SIU854278228,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3790,Insert,reid.basso@siu.edu,Reid,E,Basso,SIU855620893,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1341,Insert,baumer95@siu.edu,Blake,J,Baum,SIU852064291,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8026,Insert,eleni.befekadu@siu.edu,Eleni,None,Befekadu,SIU856514068,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4271,Insert,robert.bentley@siu.edu,Robert,J,Bentley,SIU855822617,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2396,Insert,justin.berberich@siu.edu,Justin,M,Berberich,SIU854048227,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6738,Insert,kevin.bidwell@siu.edu,Kevin,None,Bidwell,SIU856497119,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8730,Insert,aaron.biri@siu.edu,AJ,None,Biri,SIU856520919,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3573,Insert,declan.blackburn@siu.edu,Declan,P,Blackburn,SIU855576204,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7602,Insert,christa.blair@siu.edu,Christa,Annelee,Blair,SIU856507426,2026,Spring,2026-05-08,Yes,SIU,Graduate Masters,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2690,Insert,itria.bonansinga@siu.edu,Itria,Audenzia,Bonansinga,SIU854279514,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,Insert,kegan.boner@siu.edu,Kegan,Tyler,Boner,SIU850531288,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Insert,andrew.bosko@siu.edu,Andrew,John,Bosko,SIU850056040,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6464,Insert,christina.branaman@siu.edu,Christina,None,Branaman,SIU856492690,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7818,Insert,jose.bravo@siu.edu,Jose,A,Bravo,SIU856511703,2027,Spring,2027-05-07,Yes,SIU,Graduate Masters,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7923,Insert,keziamarie.briones@siu.edu,Kezia Marie,Supan,Briones,SIU856512855,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2765,Insert,dorcass.brou@siu.edu,Dorcass,L,Brou,SIU854318829,2026,Spring,2026-05-08,Yes,SIU,Graduate Masters,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5098,Insert,justin.brown@siu.edu,Justin,T,Brown,SIU856123455,2026,Spring,2026-05-08,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,Insert,madyson.brown@siu.edu,Madyson,H,Brown,SIU853737927,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6297,Insert,eugene.buffard@siu.edu,Eugene,Raymond,Buffard,SIU856489588,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4953,Insert,bailey.bullock@siu.edu,Bailey,M,Bullock,SIU856113714,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6924,Insert,blaine.burkett@siu.edu,Blaine,None,Burkett,SIU856499265,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Insert,gopib@siu.edu,Gopi,None,Bylapudi,SIU850114904,2025,Spring,2025-05-09,Yes,SIU,Graduate Doctorate,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3278,Insert,kolbi.caffey@siu.edu,Kolbi,A,Caffey,SIU854528162,2025,Spring,2025-05-09,Yes,SIU,Senior,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3235,Insert,clayton.caplinger@siu.edu,Clayton,None,Caplinger,SIU854483816,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4567,Insert,john.cardwell@siu.edu,John,None,Cardwell,SIU856011220,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,Insert,matthew.carlino@siu.edu,Matthew,Mario,Carlino,SIU850527424,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2133,Insert,breanna.l.thomas@siu.edu,Breanna,Lynn,Carman,SIU853893537,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3871,Insert,bethany.carter@siu.edu,Bethany,L,Carter,SIU855689981,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
845,Insert,jaime.castilloliceaga@siu.edu,Jim,Arturo,Castillo Liceaga,SIU850729032,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1380,Insert,cody.cates@siu.edu,Cody,B,Cates,SIU852373786,2025,Spring,2025-05-09,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2108,Insert,taylor.cavanaugh@siu.edu,Taylor,M,Cavanaugh,SIU853861677,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2635,Insert,amanda.chamberlain@siu.edu,Amanda,Briann,Chamberlain,SIU854220681,2026,Spring,2026-05-08,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9131,Insert,falguni.chauhan@siu.edu,Falguni,Kantibhai,Chauhan,SIU856525891,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2374,Insert,chiahsin.cheng@siu.edu,Chia Hsin,None,Cheng,SIU854045588,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2531,Insert,jessica.l.clark@siu.edu,Jessica,L,Clark,SIU854130959,2026,Spring,2026-05-08,Yes,SIU,Senior,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Insert,lori.cohen@siu.edu,Lori,D,Cohen,SIU850053143,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8148,Insert,ambercleonard.twincity@gmail.com,Amber,Nicole,Colbert,SIU856515454,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8108,Insert,brandon.collins1@siu.edu,Brandon,None,Collins,SIU856515095,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3852,Insert,rylee.conner@siu.edu,Rylee,N,Conner,SIU855650753,2026,Spring,2026-05-08,Yes,SIU,Graduate Masters,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1520,Insert,nathaniel.cooper@siu.edu,Nathaniel,John,Cooper,SIU853106819,2025,Spring,2025-05-09,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2324,Insert,emily.cooper@siu.edu,Emily,Rose,Cooper-Pierce,SIU854026736,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5545,Insert,katie.corcoran@siu.edu,Katie,Lynn,Corcoran,SIU856349263,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1814,Insert,rachel.costello@siu.edu,Rachel,R,Costello,SIU853552995,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1257,Insert,nicole.coyne@siu.edu,Nicole,T,Coyne,SIU851801216,2028,Spring,2028-05-05,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,Insert,olivia.crader@siu.edu,Ollie,E,Crader,SIU855739510,2026,Spring,2026-05-08,Yes,SIU,Graduate Masters,SIU,True,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2931,Insert,melissa.crosby@siu.edu,Melissa,C,Crosby,SIU854423174,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3129,Insert,devin.cruz@siu.edu,Devin,R,Cruz,SIU854450174,2025,Spring,2025-05-09,Yes,SIU,Senior,SIU,True,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2306,Insert,patrick.cusi@siu.edu,Patrick,Reyes,Cusi,SIU854025658,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5308,Insert,mariela.dalessandro@siu.edu,Mariela,Sofia,DAlessandro,SIU856224644,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3629,Insert,hannah.dascotte@siu.edu,Hannah,M,Dascotte,SIU855585273,2024,Summer,2024-08-02,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1884,Insert,davenpak@siu.edu,Alex,Keith,Davenport,SIU853645932,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Insert,joanna.davies@siu.edu,Joanna,Lynn,Davies,SIU850044472,2025,Spring,2025-05-09,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5327,Insert,kaitlyn.davies@siu.edu,Kaitlyn,Rose,Davies,SIU856290003,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Insert,clarence.davis@siu.edu,Clay,A,Davis,SIU850043070,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6302,Insert,katrina.davis@siu.edu,Katrina,Marie,Davis,SIU856489692,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7169,Insert,heather.davison@siu.edu,Heather Davison,Nicole,Davison,SIU856501477,2024,Spring,2024-05-10,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3463,Insert,pedro.deoliveira@siu.edu,Pedro,Augusto,De Oliveira,SIU854746984,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6779,Insert,jacques.devilliers@siu.edu,Mina,Korf,De Villiers,SIU856497762,2024,Summer,2024-08-02,Yes,SIU,Senior,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5255,Insert,aubree.depron@siu.edu,Aubree,Nadine,DePron,SIU856208443,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7791,Insert,christina.decker@siu.edu,Christina,D,Decker,SIU856511143,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8034,Insert,mackenzie.delisle@siu.edu,Mackenzie,Gwyneth,Delisle,SIU856514136,2023,Summer,2023-08-04,Yes,SIU,Alumni,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,Insert,kristyd@siu.edu,Kristin,Aerial,Demos,SIU850504690,2025,Spring,2025-05-09,Yes,SIU,Senior,SIU,False,None,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Pushing Data to 12Twenty

From here, we would simply filter the merged list of students and use requests to POST/PATCH the students to insert/update back to 12Twenty using the _ODS columns.

## Logging/Reporting

We would log the result and any error message to the "Result" and "Message" columns of the dataframe, then use it to generate a nice HTML table for email reporting.  We could generate text logs, but there are also [python libraries for Splunk reporting](https://dev.splunk.com/enterprise/docs/devtools/python/sdk-python/).